<mat-progress-bar class="mat-elevation-z2" *ngIf="loading" mode="indeterminate"></mat-progress-bar>
<mat-card class="mat-elevation-z2">

  <div class="row">
      <div class="col">
          <mat-card-title>Doadores</mat-card-title>
      </div>
      <div class="col">
          <div class="float-right">
              <button [routerLink]="['/doador/register']" mat-raised-button color="primary">Novo Doador</button>
          </div>
      </div>
  </div>

  <mat-card-content>
      
    <mat-table [dataSource]="getDataSource()" matSort matSortActive="id" matSortDirection="asc" matSortDisableClear>
        
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header>#</mat-header-cell>
            <mat-cell *matCellDef="let item">{{item.id}}</mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="nome">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Nome</mat-header-cell>
            <mat-cell *matCellDef="let item">{{item.nome}}</mat-cell>
        </ng-container>
       
        <ng-container matColumnDef="telefone">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Telefone</mat-header-cell>
            <mat-cell *matCellDef="let item">{{item.telefone}}</mat-cell>
        </ng-container>

         <!-- Name Column -->
         <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef>Opções</mat-header-cell>
            <mat-cell *matCellDef="let row">
                <button mat-icon-button [routerLink]="['/doador/view',row.id]"><mat-icon>pageview</mat-icon></button>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

    </mat-table>

    <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 25, 50]"></mat-paginator>
     

  </mat-card-content>

</mat-card>