<div class="row">
    <h4 class="col">Meios de Pagamento</h4>
</div>
<div class="row">
    <div class="col">
        <div class="float-right">
            <button (click)="addDonation()" mat-raised-button color="accent">Nova doação</button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">

        <div *ngIf="!formGroup?.controls?.donations?.controls?.length > 0">Não existe doações cadastrados.</div>

        <table *ngIf="formGroup?.controls?.donations?.controls?.length > 0" class="mat-table col">
            <thead>
                <tr class="mat-header-row">
                    <th class="mat-header-cell">Total daoação</th>
                    <th class="mat-header-cell">Periodicidade</th>
                    <th class="mat-header-cell">Metodo de Pagamento</th>
                    <th class="mat-header-cell">Data Inicio doação</th>
                    <th class="mat-header-cell">Data Final doação</th>
                    <th class="mat-header-cell">Opções</th>
                </tr>
            </thead>
            <tbody>
                <tr class="mat-row" *ngFor="let item of formGroup.controls.donations.controls; let i = index">
                    <td class="mat-cell">{{item?.controls?.amount?.value}}</td>
                    <td class="mat-cell">{{item?.controls?.amount?.value}}</td>
                    <td class="mat-cell">{{item?.controls?.amount?.value}}</td>
                    <td class="mat-cell">{{item?.controls?.amount?.value}}</td>
                    <td class="mat-cell">{{item?.controls?.amount?.value}}</td>
                    <td class="mat-cell">
                        <button mat-icon-button (click)="updataDonation(i)">
                            <mat-icon>pageview</mat-icon>
                        </button>
                        <button mat-icon-button (click)="deleteDonation(i)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>