<mat-card class="mat-elevation-z2">

    <div class="row">
        <div class="col">
            <mat-card-title>Usuário</mat-card-title>
        </div>
        <div class="col">
            <div class="float-right">
                <button [disabled]="!form.valid" (click)="create(form.value)" mat-raised-button color="primary">Salvar</button>
                <button [routerLink]="['/user/list']" mat-raised-button>Voltar</button>
            </div>
        </div>
    </div>

    <mat-card-content>
        <form [formGroup]="form">
            <div class="row">

                <mat-form-field class="col-6">
                    <input formControlName="user" matInput placeholder="Usuário">
                </mat-form-field>

                <mat-form-field class="col-6">
                    <input formControlName="password" matInput placeholder="Senha">
                </mat-form-field>

            </div>

        </form>
    </mat-card-content>

</mat-card>